@use '../../../neo_base/src/css/form';
@use 'neo-icon';

form {
  .button:not(.has-icon) {
    &[data-label*='save'],
    &[data-label*='update'],
    &[data-label*='apply'],
    &[data-label*='publish'] {
      @include neo-icon.icon('check-square', before) {
        @apply mr-1;
      }
    }

    &[data-label*='delete'],
    &[data-label*='cancel'],
    &[data-label*='remove'] {
      @apply btn-alert;
      @include neo-icon.icon('times-square', before) {
        @apply mr-1;
      }
    }

    &[data-label*='edit'] {
      @include neo-icon.icon('edit', before) {
        @apply mr-1;
      }
    }

    &[data-label*='remove'] {
      @apply btn-alert;
      @include neo-icon.icon('trash', before) {
        @apply mr-1;
      }
    }

    &[data-label*='add'],
    &[data-drupal-selector*='add'] {
      @include neo-icon.icon('plus-square', before) {
        @apply mr-1;
      }
    }

    &[data-label*='clone'],
    &[data-label*='copy'],
    &[data-label*='duplicate'] {
      @include neo-icon.icon('clone', before) {
        @apply mr-1;
      }
    }

    &[data-label*='filter'] {
      @include neo-icon.icon('filter', before) {
        @apply mr-1;
      }
    }

    &.icon-only {
      &:before {
        @apply mr-0;
      }

      span {
        display: none;
      }
    }
  }

  a {
    &[id$='cancel'],
    &[id$='delete'] {
      @apply btn btn-alert;
      @include neo-icon.icon('times-square', before) {
        @apply mr-1;
      }
    }
  }
}

.fake-checkbox {
  @apply relative z-10 h-6 w-10 rounded-full border-2 checked:border-base-400 checked:bg-base-400;
}

// Menu tree module support.
.menu-tree__tree .toggle-collapse {
  @apply visible;
}

.menu-tree__tree .toggle-collapse .action-link {
  @apply block h-5 w-5 overflow-hidden whitespace-nowrap text-base-700;
}

.menu-tree__tree .toggle-collapse.expand .action-link--icon-expand {
  @include neo-icon.icon('plus-square', before) {
    @apply text-md mr-0 h-5 w-5 text-right;
    background-image: none;
  }
}

.menu-tree__tree .toggle-collapse.collapse .action-link--icon-expand {
  @include neo-icon.icon('minus-square', before) {
    @apply text-md mr-0 h-5 w-5 text-right;
    background-image: none;
  }
}
