{% extends 'menu.html.twig' %}

{#
  Specify the classes for the menu.
#}
{% set classes = ['example'] %}

{#
  Specify the classes for the menu keyed by menu depth.
#}
{%
  set depth_classes = {
    1: [
      'example-depth-1',
    ],
  }
%}

{#
  Specify the classes for the menu item.
#}
{% set item_classes = ['example-item'] %}

{#
  Specify the classes for the menu link.
#}
{% set link_classes = ['example-link'] %}

{#
  Specify the classes for the menu anchor (non-link).
#}
{% set anchor_classes = ['example-anchor'] %}

{#
  Specify the classes for the menu item keyed by menu depth.
#}
{%
  set item_depth_classes = {
    1: [
      'example-item-depth-1',
    ],
  }
%}

{#
  Specify the classes for the menu link keyed by menu depth.
#}
{%
  set link_depth_classes = {
    1: [
      'example-link-depth-1',
    ],
  }
%}
