@import "./elements/button.css";
@import "./elements/messages.css";
@import "./elements/pager.css";

@layer component {
  html,
  body {
    /* @apply bg-base-950; */
    background-color: var(--site-bg);
    scroll-behavior: smooth;
  }

  .page-wrapper {
    min-height: calc(
      100vh - var(--drupal-displace-offset-top, 0px) - var(
          --drupal-displace-offset-bottom,
          0px
        )
    );
  }

  .js-hide,
  .region-hidden-message {
    @apply hidden!;
  }

  .clearfix {
    &::after {
      display: table;
      clear: both;
      content: '';
    }
  }

  div[data-neo-sticky-observe] {
    position: absolute;
    z-index: -1;
    width: 1px;
    height: 1px;
    pointer-events: none;
  }
}

@layer base {

  a {
    @apply text-primary-600 transition hover:text-primary-800;
  }
}
