@layer base {
  .region--content .field,
  .neo-modal .field {
    &.field--label-above,
    &.field--label-inline {
      @apply m-0 border-b py-1 last:border-b-0;
    }

    .field--label {
      @apply inline-block rounded px-2 py-0.5 text-xs;
      background-color: rgb(var(--color-base-200));
      color: rgb(var(--color-base-700));

      form & {
        background-color: var(--form-item-base, rgb(var(--color-base-200)));
        color: var(--form-item-content, rgb(var(--color-base-700)));
      }
    }

    &.field--label-inline {
      @apply flex items-center;

      .field--label {
        @apply mr-2 rounded px-2 py-0.5 text-xs;
      }
    }
  }
}
