{#
/**
 * @file
 * Default theme implementation for a form element label.
 *
 * Available variables:
 * - title: The label's text.
 * - title_display: Elements title_display setting.
 * - required: An indicator for whether the associated form element is required.
 * - attributes: A list of HTML attributes for the label.
 *
 * @see template_preprocess_form_element_label()
 *
 * @ingroup themeable
 */
#}
{%
  set base_classes = base_classes is defined ? base_classes : [
    title_display == 'after' ? 'option',
    title_display == 'invisible' ? 'visually-hidden',
    required ? 'js-form-required',
    required ? 'form-required',
  ]
%}
{%
  set classes = classes is defined ? classes : [
    'form-label',
  ]
%}
{% if title is not empty or required -%}
  {% block label %}
    <label{{ attributes.addClass(base_classes, classes) }}>
      {{ title }}
      {% if required %}
        <abbr class="font-normal form-required text-alert" aria-hidden="true">*</abbr>
        <span class="visually-hidden">{{ 'required'|t }}</span>
      {% endif %}
    </label>
  {% endblock %}
{%- endif %}
