{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('neo_base/form') }}
<form{{ attributes.addClass('form', 'card', 'mt-form', 'first:mt-0') }}>
  <div class="form--inner m-form [&>*:first-child]:mt-0 [&>*:last-child]:mb-0">
    {{ children }}
  </div>
</form>
