{#
/**
 * @file
 * Default theme implementation for the content of an administrative block.
 *
 * Available variables:
 * - content: List of administrative menu items. Each menu item contains:
 *   - link: Link to the admin section.
 *   - title: Short name of the section.
 *   - description: Description of the administrative menu item.
 *   - url: URI to the admin section.
 *   - options: URL options. See \Drupal\Core\Url::fromUri() for details.
 * - attributes: HTML attributes to be added to the element.
 * - compact: Boolean indicating whether compact mode is turned on or not.
 *
 * @see template_preprocess_admin_block_content()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'list-group',
    compact ? 'compact',
  ]
%}
{% if content %}
  <dl{{ attributes.addClass(classes, 'card mt-6 first:mt-0') }}>
    {% for item in content %}
      <div class="px-6 py-4 border-b border-base-200 list-group--item last:border-b-0">
        <dt class="list-group--link">{{ item.link|neo_class(['font-bold text-lg text-primary-500 hover::text-primary-700 [&>i]:text-primary-700']) }}</dt>
        {% if item.description %}
          <dd class="text-xs list-group--description">{{ item.description }}</dd>
        {% endif %}
      </div>
    {% endfor %}
  </dl>
{% endif %}
